h1 Tic Tac Toe

table(border='1' width='300px' height='300px')
  tr
    td#0 _
    td#1 _
    td#2 _
  tr
    td#3 _
    td#4 _
    td#5 _
  tr
    td#6 _
    td#7 _
    td#8 _

h2#message Start Game
form
  input(type='submit' value='Start Game')

script(src='/js/main.js')
