head
  link(rel="stylesheet" type="text/css" href="/css/style.css")

h1 Tic Tac Toe

table(border='1')
  tr
    td#0 &nbsp;
    td#1 &nbsp;
    td#2 &nbsp;
  tr
    td#3 &nbsp;
    td#4 &nbsp;
    td#5 &nbsp;
  tr
    td#6 &nbsp;
    td#7 &nbsp;
    td#8 &nbsp;

h2#message Start Game
form
  input(type='submit' value='Start Game')

script(src='/vendor/socket.io-client/socket.io.js')
script(src='/js/main.js')
